<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active"
      >Products</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
  </li>
</ul>
<router-outlet></router-outlet>
